.pixel {
    background-color: white;
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* width: 10px;
    height: 10px; */
}

#canvas {
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    padding: 20px;
}